<mat-card *ngFor="let mensagem of mensagensAgrupadas.mensagensProfissional">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_circle</mat-icon>
    </div>
    <mat-card-title>{{ mensagem.profissional.nomeCompleto }}</mat-card-title>
    <mat-card-subtitle>Última Mensagem: {{ mensagem.mensagens[0].date | date: 'dd/MM/yyyy HH:mm' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ mensagem.mensagens[0].message }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary"
      (click)="routeToChatComponent(mensagem.profissional.id, mensagensAgrupadas.solicitacao)"
      [mat-dialog-close]="true">Visualizar mensagens
    </button>
  </mat-card-actions>
</mat-card>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>