<mat-spinner *ngIf="!checkWebSocketState()"></mat-spinner>

<div class="chat-container">
  <div class="messages-container">
    <ol #scrollMe>
      <li *ngFor="let message of messages" [ngClass]="message.fromId == fromId ? 'message-sent' : 'message-received'">
        <div class="message-container">
          {{message.message}}
        </div>
      </li>
    </ol>
  </div>

  <div class="send-message-container">
    <form [formGroup]="formMensagem">
      <mat-form-field appearance="outline">
        <mat-label>Digite aqui sua mensagem</mat-label>
        <input matInput type="text" formControlName="mensagem" [disabled]="enviandoMensagem">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="enviarMensagem()" [disabled]="enviandoMensagem">Enviar</button>
    </form>
  </div>
</div>