<div class="container">
  <div class="hello-container" *ngIf="profissional">
    <p>Olá {{ profissional.nomeCompleto.split(' ')[0] }}, bem vindo à área do profissional.</p>
    <p>Visualize as solicitações disponíveis, avalie as que você se encaixa nos requisitos e envie uma proposta para o
      paciente!</p>
  </div>

  <mat-tab-group>

    <mat-tab label="Solicitações">
      <ng-template matTabContent>
        <app-list-solicitacoes [solicitacoes]="solicitacoes"></app-list-solicitacoes>
      </ng-template>
    </mat-tab>

    <mat-tab label="Suas Propostas">
      <ng-template matTabContent>
        <app-list-propostas></app-list-propostas>
      </ng-template>
    </mat-tab>

    <mat-tab label="Mensagens">
      <ng-template matTabContent>
        Content 3 - Loaded:
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>