<mat-card *ngFor="let proposta of propostas">
  <p class="header-proposta">Dados da Solicitação:</p>
  <mat-card-header>
    <mat-card-title>{{ proposta.solicitacao.titulo }}</mat-card-title>
    <mat-card-subtitle>{{ getDescricaoStatusSolicitacao(proposta.solicitacao.statusSolicitacao) }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>Informações: </strong>{{ proposta.solicitacao.informacoes }}
    </p>
    <div>
      <mat-icon>location_on</mat-icon>
      <strong>Localização: </strong>{{ proposta.solicitacao.user.endereco.cidade }} -
      {{ proposta.solicitacao.user.endereco.uf }}
      <mat-icon>attach_money</mat-icon>
      <strong>Valor aproximado da solicitação:
      </strong>R${{ proposta.solicitacao.valorAproximadoSolicitacao.toFixed(2) }}
      <mat-icon>person</mat-icon>
      <strong>Preferência por profissional do sexo: </strong>
      {{ getDescricaoSexo(proposta.solicitacao.preferenciaSexoProfissional) }}
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <p class="header-proposta">Dados da sua Proposta:</p>
  <mat-card-content>
    <p>
      <strong>Informações: </strong>{{ proposta.informacoes }}
    </p>
    <div>
      <mat-icon>attach_money</mat-icon>
      <strong>Valor solicitado:
      </strong>R${{ proposta.preco.toFixed(2) }}
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="routeToChatComponent(proposta.solicitacao.user.id, proposta.solicitacao.id)">
      <mat-icon>message</mat-icon>
      Enviar uma Mensagem
    </button>
    <button mat-button (click)="routeToEditPropostaForm(proposta)">
      <mat-icon>edit</mat-icon>
      Editar Proposta
    </button>
    <button mat-button>
      <mat-icon>cancel</mat-icon>
      Cancelar Proposta
    </button>
  </mat-card-actions>
</mat-card>