<h2 mat-dialog-title>Propostas</h2>
<mat-dialog-content class="mat-typography">
  <mat-card *ngFor="let proposta of data.solicitacao.propostas">
    <mat-card-header>
      <mat-card-title>{{ proposta.profissional.nomeCompleto }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ proposta.informacoes }}
      </p>
      <div>
        <mat-icon>attach_money</mat-icon>
        <strong>Preço solicitado pelo profissional: </strong>R${{ proposta.preco.toFixed(2) }}
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="abrirModalDetalhesProfissional(proposta.profissional.id)">
        <mat-icon>account_circle</mat-icon>
        Detalhes do Profissional
      </button>
      <button mat-button mat-dialog-close (click)="routeToChatComponent(proposta.profissional.id)">
        <mat-icon>message</mat-icon>
        Enviar Mensagem
      </button>
      <button mat-button color="primary" (click)="abrirModalConfirmarAceitarProposta(data.solicitacao.id, proposta.id)">
        <mat-icon>check_box</mat-icon>
        Aceitar Proposta
      </button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>