<form [formGroup]="solicitacaoForm">
  <p>Preencha as informações da solicitação:</p>
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <input matInput placeholder="Digite o título" formControlName="titulo">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Informações</mat-label>
    <textarea matInput
      placeholder="Descreva ao máximo o motivo da sua solicitação, informando possíveis dificuldades do paciente, cuidados necessários, medicações receitadas..."
      formControlName="informacoes"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Valor aproximado para o atendimento</mat-label>
    <input class="value-field" matInput placeholder="Digite um valor em reais"
      formControlName="valorAproximadoSolicitacao" type="number">
    <mat-hint>* O valor da proposta pode vir diferente do seu valor aproximado</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Deseja ser atendido por um profissional do sexo:</mat-label>
    <mat-select formControlName="preferenciaSexoProfissional">
      <mat-option value="M">Masculino</mat-option>
      <mat-option value="F">Feminino</mat-option>
      <mat-option value="N">Não tenho preferência</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="cadastrarSolicitacao()" [disabled]="!solicitacaoForm.valid">
    {{ passedSolicitacao ? 'Editar Solicitação' : 'Cadastrar Solicitação' }}
  </button>
</form>