<mat-card *ngFor="let solicitacao of solicitacoes">
  <mat-card-header>
    <mat-card-title>{{ solicitacao.titulo }}</mat-card-title>
    <mat-card-subtitle>{{ getDescricaoStatusSolicitacao(solicitacao.statusSolicitacao) }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{solicitacao.informacoes}}
    </p>
    <div>
      <mat-icon>location_on</mat-icon>
      <strong>Localização: </strong>{{ solicitacao.user.endereco.cidade }} - {{ solicitacao.user.endereco.uf }}
      <mat-icon>attach_money</mat-icon>
      <strong>Valor aproximado da solicitação: </strong>R${{ solicitacao.valorAproximadoSolicitacao.toFixed(2) }}
      <mat-icon>person</mat-icon>
      <strong>Preferência por profissional do sexo: </strong>
      {{ getDescricaoSexo(solicitacao.preferenciaSexoProfissional) }}
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="routeToChatComponent(solicitacao.user.id)">
      <mat-icon>message</mat-icon>
      Enviar uma Mensagem
    </button>
    <button mat-button (click)="routeToPropostaComponent(solicitacao)">
      <mat-icon>request_page</mat-icon>
      Enviar uma Proposta
    </button>
  </mat-card-actions>
</mat-card>