<div [formGroup]="parentForm">
    <hr>
    <p>Dados do Responsável:</p>
    <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput placeholder="Digite seu nome completo" [formControlName]="'nomeCompleto'">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Digite seu email" [formControlName]="'email'">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Digite sua senha" [formControlName]="'password'" type="password">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Selecione a data de Nascimento</mat-label>
        <input matInput [matDatepicker]="picker" [formControlName]="'dataNascimento'" [min]="minDate" [max]="maxDate"
            disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-radio-group aria-label="Selecione o sexo" [formControlName]="'sexo'">
        <mat-label>Selecione o sexo:</mat-label>
        <br>
        <mat-radio-button *ngFor="let sex of sexos" value="{{sex.id}}">{{sex.descricao}}</mat-radio-button>
    </mat-radio-group>
    <hr>
    <p>Dados do paciente:</p>
    <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput placeholder="Digite seu nome completo" [formControlName]="'nomeCompletoPaciente'">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Selecione a data de Nascimento</mat-label>
        <input matInput [matDatepicker]="picker2" [formControlName]="'dataNascimentoPaciente'" [min]="minDate"
            [max]="maxDate" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-radio-group aria-label="Selecione o sexo" [formControlName]="'sexoPaciente'">
        <mat-label>Selecione o sexo:</mat-label>
        <br>
        <mat-radio-button *ngFor="let sex of sexos" value="{{sex.id}}">{{sex.descricao}}</mat-radio-button>
    </mat-radio-group>
</div>