<div class="solicitacao-container">
  <p>Você está enviando uma proposta para a seguinte solicitação:</p>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ solicitacao.titulo }}</mat-card-title>
      <mat-card-subtitle>{{ getDescricaoStatusSolicitacao(solicitacao.statusSolicitacao) }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{solicitacao.informacoes}}
      </p>
      <div>
        <mat-icon>account_circle</mat-icon>
        <strong>Nome do Usuário: </strong>{{ solicitacao.user.nomeCompleto }}
        <mat-icon>location_on</mat-icon>
        <strong>Localização: </strong>{{ solicitacao.user.endereco.cidade }} - {{ solicitacao.user.endereco.uf }}
        <mat-icon>attach_money</mat-icon>
        <strong>Valor aproximado da solicitação: </strong>R${{ solicitacao.valorAproximadoSolicitacao.toFixed(2) }}
        <mat-icon>person</mat-icon>
        <strong>Preferência por profissional do sexo: </strong>
        {{ getDescricaoSexo(solicitacao.preferenciaSexoProfissional) }}
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-divider></mat-divider>

<form [formGroup]="formProposta">
  <mat-form-field appearance="outline">
    <mat-label>Informações</mat-label>
    <textarea matInput
      placeholder="Descreva suas qualificações, suas possibilidades de atendimento, o máximo de informações para que o paciente possa avaliar se você é o profissional correto para este atendimento."
      formControlName="informacoes" rows="5"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Valor da sua proposta</mat-label>
    <input class="value-field" matInput placeholder="Digite um valor em reais" formControlName="preco" type="number">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="enviarProposta()" [disabled]="!formProposta.valid">
    Enviar Proposta
  </button>
</form>