<form [formGroup]="formProposta">
  <mat-form-field appearance="outline">
    <mat-label>Informações</mat-label>
    <textarea matInput
      placeholder="Descreva suas qualificações, suas possibilidades de atendimento, o máximo de informações para que o paciente possa avaliar se você é o profissional correto para este atendimento."
      formControlName="informacoes" rows="5"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Valor da sua proposta</mat-label>
    <input class="value-field" matInput placeholder="Digite um valor em reais" formControlName="preco" type="number">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="enviarProposta()" [disabled]="!formProposta.valid">
    Enviar Proposta
  </button>
</form>