<div class="container">
  <div class="top-container">
    <button mat-raised-button color="primary" class="add-solicitation" (click)="routeToFormSolicitacao()">Adicionar uma
      nova solicitação</button>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="solicitacao">
    <p>Acompanhe a sua solicitação:</p>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ solicitacao.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ solicitacao.statusSolicitacao }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{solicitacao.informacoes}}
        </p>
        <div>
          <mat-icon>attach_money</mat-icon>
          <strong>Valor aproximado da solicitação: </strong>R${{ solicitacao.valorAproximadoSolicitacao.toFixed(2) }}
          <mat-icon>person</mat-icon>
          <strong>Preferência por profissional do sexo: </strong> {{ solicitacao.preferenciaSexoProfissional }}
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="routeToEditSolicitacao(solicitacao)">
          <mat-icon>edit</mat-icon>
          Editar
        </button>
        <button mat-button color="warn" (click)="abrirModalConfirmarExclusao(solicitacao.id)">
          <mat-icon>delete</mat-icon>
          Excluir
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>