<div class="container">
  <div class="top-container" *ngIf="!solicitacao">
    <button mat-raised-button color="primary" class="add-solicitation" (click)="routeToFormSolicitacao()">
      Adicionar uma nova solicitação
    </button>
  </div>
  <div *ngIf="solicitacao">
    <p>Acompanhe a sua solicitação:</p>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ solicitacao.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ getDescricaoStatusSolicitacao(solicitacao.statusSolicitacao) }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{solicitacao.informacoes}}
        </p>
        <div>
          <mat-icon>attach_money</mat-icon>
          <strong>Valor aproximado da solicitação: </strong>R${{ solicitacao.valorAproximadoSolicitacao.toFixed(2) }}
          <mat-icon>person</mat-icon>
          <strong>Preferência por profissional do sexo: </strong>
          {{ getDescricaoSexo(solicitacao.preferenciaSexoProfissional) }}
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="openSolicitacoesDialog(solicitacao)" matBadge="{{ solicitacao.propostas.length }}"
          [matBadgeHidden]="solicitacao.propostas.length == 0" *ngIf="!solicitacao.atendimento">
          <mat-icon>request_page</mat-icon>
          Visualizar Propostas
        </button>
        <button mat-button (click)="openMensagensDialog(solicitacao)" *ngIf="!solicitacao.atendimento">
          <mat-icon>message</mat-icon>
          Visualizar Mensagens
        </button>
        <button mat-button (click)="openAtendimentoDialog(solicitacao.atendimento)" *ngIf="solicitacao.atendimento">
          <mat-icon>assignment</mat-icon>
          Visualizar Atendimento
        </button>
        <button mat-button (click)="routeToEditSolicitacao(solicitacao)" *ngIf="!solicitacao.atendimento">
          <mat-icon>edit</mat-icon>
          Editar
        </button>
        <button mat-button color="warn" (click)="abrirModalConfirmarExclusao(solicitacao.id)"
          *ngIf="!solicitacao.atendimento">
          <mat-icon>delete</mat-icon>
          Excluir
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>