/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-radio-button {
  margin: 1% 2%;
}

mat-spinner {
  margin: 2% auto;
}

.cdk-overlay-pane mat-dialog-container {
  width: 70% !important;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .cdk-overlay-pane mat-dialog-container {
    width: 95% !important;
  }
}